.popup{
    background-color: #525c50;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    font-family: "Poppins",sans-serif;
    text-align: center;

}
body{
    background-color: white;
}



.popup label {
    display: flex;
    color: white;
    padding: 0.5em;
    justify-content: left;
}

.popup #close{
    display: block;
    font-family: monospace;
    font-size: 1.6em;


    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;

    position: relative;
    float: right;
    background: red;
	color: white;
    top: -20px;
    right: -30px;

}

#item-form input {
    font-family: monospace;
    font-size: 2em;
    border-width:0px;
    border:none;
    outline:none;
    background: transparent;
}

#menu-form {
    display: flex;
    padding-top: 2em;
    justify-content: center;

}

main{
    padding-top: 1em;
    padding-color: redl;
}
