{% extends "generic_page.html" %}

{% block content %}

    {% if validlink %}
        <p>Будь ласка, введіть (і підтвердьте) свій новий пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новий пароль::</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Підтвердити пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Помилка зміни пароля</h1>
        <p>Посилання для зміни пароля було недійсним, можливо, тому, що воно вже було використано. Будь ласка, надішліть запит на скидання нового пароля.</p>
    {% endif %}

{% endblock %}